# NOTE: need pytorch=1.10.1 (or an rllib bug that attempts to validate env by looking at env.observation_space occurs)
deap
minerl  # might need to install this with `python -m pip install --upgrade minerl` ?
neat-python
opencv-python
pandas
pygame
ray[rllib]==1.9.2  # upgrading to 1.10 results in different train_batch length. Also evaluating only 1 world in all envs?
gym==0.21.0  # later versions seem to conflict with numpy
# ribs
tqdm
./submodules/pytorch-neat
./submodules/qdpy
